/* loading webfonts */
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Sans Pro'),local('SourceSansPro-Regular'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:700;
	src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:italic;
	font-weight:400;
	src:local('Source Sans Pro Italic'),local('SourceSansPro-It'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:italic;
	font-weight:700;
	src:local('Source Sans Pro Bold Italic'),local('SourceSansPro-BoldIt'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nog-We9VNve39Jr4Vs_aDc.woff) format('woff');
}
@font-face {
	font-family:'Droid Serif';
	font-style:normal;
	font-weight:400;
	src:local('Droid Serif'),local('DroidSerif'),url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}
@font-face {
	font-family:'Droid Serif';
	font-style:normal;
	font-weight:700;
	src:local('Droid Serif Bold'),local('DroidSerif-Bold'),url(http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

/* styling */
body { /* u-a styles overriding,text */
	margin:1.8em 0;
	font-family:'source sans pro',lucida sans,tahoma,sans-serif;
	font-size:105%;
	line-height:135%;
}
section,aside { /* main wrapper */
	margin:0 auto;
	padding:32px;
	width:60%;
	max-width:800px;
	position:relative;
	left:0;
	background:#fff;
	border:solid 1px #ccc;
	border-radius:2px;
	-webkit-transition:all ease .2s;
	transition:all ease .2s;
	box-shadow:0 1px 2px 2px rgba(0,0,0,.08);
}
section {
	text-align:justify;
}
section:after { /* wrapper clearfix up in here */
	content:"";
	display:block;
	clear:both;
}
section>:last-child { /* last element in wrapper */
	margin-bottom:0;
}
aside {
	padding:8px;
	width:320px;
	position:fixed;
	top:3em;
	left:calc(50% - 550px);
	font-size:85%;
	line-height:1;
}
aside h6 {
	margin:-8px -8px 8px;
	padding:8px;
	background:#eee;
	border-bottom:solid 1px #ccc;
}
aside>ul {
	margin:0;
	padding:0;
}
aside li>ul {
	margin:2px 0 4px;
	padding-left:16px;
}
aside ul,aside li {
	list-style:none;
	margin-bottom:3px;
}
aside:hover {
	left:calc(50% - 640px);
}
aside:hover+section {
	left:155px;
}
hr {
	margin:2em 0;
	height:2px;
	background:#ccc;
	border:none;
	text-align:center;
}
hr:before {
	content:"\2022\3000\2022\3000\2022";
	display:inline-block;
	padding:0 1em;
	color:#ccc;
	background:#fff;
	position:relative;
	top:-.7em;
}
article { /* embedded news/magazine articles */
	font-family:droid serif,serif;
	font-size:90%;
}
article h1,article h2,article h3,article h4,article h5 { /* headings in montserrat (if installed)  */
	margin:0;
	padding:0;
	color:#222;
	background:none;
	border:none;
	font-family:montserrat,helvetica neue,sans-serif;
	line-height:1.3;
}
article h1 span {
	padding-top:1.5em;
	color:#444;
	float:right;
	font-family:droid serif,serif;
	font-weight:normal;
	font-size:12pt;
}
article h1 span:before {
	content:"by ";
	font-style:italic;
}
article>div:not(.i) {
	display:inline-block;
	margin-right:-1px;
	padding-right:1em;
	width:50%;
	box-sizing:border-box;
	border:0 solid #ccc;
	border-width:0 2px 0 0;
	vertical-align:top;
}
article>div:not(.i):last-child {
	margin:0 0 0 -1px;
	padding:0 0 0 1em;
	border-width:0 0 0 2px;
}
article .col-1 p:first-of-type:first-letter {
	margin:12px 4px 4px 0;
	float:left;
	font-size:300%;
}
article p:first-child {
	margin-top:0;
}
article p:last-child {
	margin-bottom:0;
}
h1 { /* real big headings (sod html5 user-agent styles) */
	display:block;
	margin:-32px -32px 32px;
	padding:32px 32px;
	background:#eee;
	border-bottom:solid 1px #ccc;
	font-size:28pt;
}
h2 { /* pretty big headings */
	font-size:24.5pt;
}
h3 { /* medium headings */
	font-size:21pt;
}
h4 { /* small headings */
	font-size:17.5pt;
}
h5 { /* tiny headings */
	font-size:14pt;
}
h6 { /* embarrassingly small headings */
	font-size:12pt;
	text-transform:uppercase;
}
h1,h2,h3,h4,h5,h6 { /* heading specific guff */
	text-align:left;
	line-height:1;
}
h2,h3,h4,h5,h6 { /* remove margins below headings and clear left floats */
	margin:0 0 .5em 0;
	clear:left;
}
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p { /* paragraphs after headings have no top margin */
	margin-top:0;
}
h2 a,h3 a,h4 a,h5 a,h6 a { /* permalinks to the left of headings */
	display:inline-block;
	position:relative;
	top:.18em;
	width:26px;
	height:20px;
	background:url(../img/sprite.svg) no-repeat 0 6px;
	text-indent:-999em;
	margin:0 0 -2px -26px;
	opacity:0;
}
h2:hover a,h3:hover a,h4:hover a,h5:hover a,h6:hover a { /* permalinks visible when their heading is hovered over */
	opacity:.3;
}
h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover { /* darker on direct hover */
	opacity:.8;
}
pre,code,.i { /* grey background for code and image captions */
	background:#eee;
}
pre,code { /* monospace font and grey border for code */
	border:solid 1px #ccc;
	font-family:source code pro,consolas,lucida console,monospace;
}
pre { /* multi-line blocks of code */
	margin:.5em -32px;
	padding:.5em 32px;
	width:100%;
	border-width:1px 0;
	overflow-x:scroll;
}
code { /* make code more obvious */
	padding:1px;
	border-radius:2px;
	font-size:84%;
	line-height:100%;
}
pre code { /* code in big blocks */
	line-height:160%;
	border:none;
}
blockquote { /* aids positioning of quotation mark */
	margin:16px 0;
	padding:24px 32px 0;
	background:#eee;
	overflow:hidden;
}
blockquote :first-child {
	margin-top:0;
}
blockquote :last-child {
	margin-bottom:0;
}
blockquote:before,blockquote:after {  /* quotation marks */
	display:block;
	width:100%;
	font-weight:bold;
	font-size:60pt;
	color:#fff;
	-webkit-text-stroke:3px #fff;
}
blockquote:before { /* opening quotation mark */
	content:"\201c";
}
blockquote:after { /* closing quotation mark */
	content:"\201d";
	margin-top:30px;
	text-align:right;
}
table { /* stretch tables to full width */
	width:100%;
	text-align:left;
}
table:not(:last-child) { /* give tables a bit of space below */
	margin-bottom:1em;
}
thead { /* table title text bottom and left aligned */
	vertical-align:bottom;
}
tbody { /* text in table bodies in the top of cells */
	vertical-align:top;
}
table,td,th { /* giving borders to markdown-generated tables */
	border:solid 1px #000;
	border-spacing:0;
}
th,td {	/* spacing out tables a bit */
	padding:.2em .3em;
}
td:not(:last-child),th:not(:last-child) { /* prevent 2px border between cells vertically */
	border-right:none;
}
tr:not(:last-child) td,tr:not(:last-child) th { /* prevent 2px border between cells horizontally */
	border-bottom:none;
}
iframe {
	margin-right:4px;
	width:396px;
	height:253px;
}
iframe.right {
	margin:0;
}

/* class and id styling */
.ar { /* align right */
	text-align:right;
}
.i { /* image containers */
	margin:1em 0;
	padding:16px;
	font-size:90%;
	font-style:italic;
	line-height:120%;
}
.i em { /* image captions */
	font-style:normal;
}
div+.i { /* image containers following divs */
	margin-top:1em;
}
.r,.l { /* all image containers, but full sizers */
	width:40%;
}
.r { /* right floated containers */
	margin:0 0 .7em 1em;
	float:right;
}
.l { /* left floated containers */
	margin:0 1em .7em 0;
	float:left;
}
.s { /* small; narrower image containers */
	width:24%;
}
.h { /* halved image containers clear floats */
	clear:both;
}
.h img { /* halfed images */
	width:calc(50% + 12px);
	vertical-align:top;
	display:inline-block;
}
.h>:first-child { /* left image */
	margin-right:8px;
}
.i div:last-child { /* div for image source */
	margin-top:8px;
	font-style:normal;
	font-size:80%;
	line-height:110%;
}
.i img,.a>div:first-child { /* actual image */
	margin:-16px -16px 12px;
	width:calc(100% + 32px);
	background:#fff;
}
.a>div:first-child { /* hover-alternative image containers */
	height:450px;
}
.a>div:first-child:hover { /* move big sprite background for hover-alternatives */
	background-position:0 100%;
}
.f,.n {/* f.a.e.s and notes */
	margin:16px -32px;
	padding:12px 32px;
}
.f { /* file attachment elements */
	background:#7accb2;
	text-shadow:0 1px 0 #69af98;
	box-shadow:0 0 0 1px #69af98;
}
.f:before { /* text to title file attachment elements */
	content:"File attachments:";
	margin-right:1em;
	color:#fff;
	font-weight:bold;
}
.f a { /* links in file attachment elements */
	color:#fff;
	text-decoration:none;
	font-style:italic;
}
.f a:hover { /* ditto, when hovered over */
	color:rgba(255,255,255,0.86);
	text-shadow:0 1px 2px #69af98;
}
.f a:not(:last-child):after { /* little dots after all but last f.a.e. link */
	content:"";
	display:inline-block;
	margin:.2em 2em;
	width:4px;
	height:4px;
	background:#fff;
	box-shadow:0 1px 1px 0 #69af98;
	border-radius:2px;
}
.n { /* notes */
	background:#eee;
	box-shadow:0 0 0 1px #ccc;
	font-style:italic;
}
.n:before { /* just so we know it's a note, k? */
	content:"Note: ";
	font-weight:bold;
}
a.ext:after { /* add external link svg thingy */
	content:"";
	display:inline-block;
	margin:0 2px;
	width:12px;
	height:10px;
	background:url(../img/sprite.svg);
	background-position:0 -15px;
}
.b {
	font-weight:bold;
}

/* highlighting */
.hb {
	background:rgba(32,170,214,.5);
}
