/* loading webfonts */
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Sans Pro'),local('SourceSansPro-Regular'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:700;
	src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:italic;
	font-weight:400;
	src:local('Source Sans Pro Italic'),local('SourceSansPro-It'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:italic;
	font-weight:700;
	src:local('Source Sans Pro Bold Italic'),local('SourceSansPro-BoldIt'),url(http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nog-We9VNve39Jr4Vs_aDc.woff) format('woff');
}
body { /* u-a styles overriding, text */
	margin:3em 0;
	font-family:'source sans pro',lucida sans,tahoma,sans-serif;
	font-size:105%;
	line-height:135%;
}
section { /* main wrapper */
	margin:0 auto;
	padding:2em;
	width:60%;
	max-width:800px;
	border:solid 1px #ddd;
	border-radius:2px;
	text-align:justify;
}
section:after { /* wrapper clearfix up in here */
	content:"";
	display:block;
	clear:both;
}
section>:first-child { /* first element in wrapper */
	margin-top:0;
}
section>:last-child { /* last element in wrapper */
	margin-bottom:0;
}
h1:first-child {
	display:block;
	margin:-1em -1em .5em;
	padding:1em;
	background:#eee;
	border-bottom:solid 1px #ddd;
}
h1 { /* big headers (sod html5 user-agent styles) */
	font-size:2em;
}
h1,h2,h3 {
	clear:left;
}
h2,h3,h4 { /* remove margins below headings (except h1s) */
	margin-bottom:.8em;
}
h1+p,h2+p,h3+p,h4+p { /* paragraphs after headings have less top margin */
	margin-top:0;
}
code,.i {
	background:#eee;
}
code { /* make code more obvious */
	padding:1px;
	border:solid 1px #ccc;
	border-radius:2px;
	font-family:source code pro,consolas,lucida console,monospace;
	font-size:84%;
	line-height:100%;
}
table { /* stretch tables to full width */
	width:100%;
}
table,td,th { /* giving borders to markdown-generated tables */
	border:solid 1px #000;
	border-spacing:0;
}
th,td {	/* spacing out tables a bit */
	padding:.2em .3em;
}
td:not(:last-child),th:not(:last-child) { /* prevent 2px border between cells vertically */
	border-right:none;
}
tr:not(:last-child) td,tr:not(:last-child) th { /* prevent 2px border between cells horizontally */
	border-bottom:none;
}
.i { /* floated image containers */
	padding:1em;
	font-size:90%;
	font-style:italic;
	line-height:120%;
}
.i em {
	font-style:normal;
}
div+.i {
	margin-top:1em;
}
.r,.l { /* all image containers, but full sizers */
	width:40%;
}
.r { /* right floated containers */
	margin:0 0 1em 1em;
	float:right;
}
.l { /* left floated containers */
	margin:0 1em 1em 0;
	float:left;
}
.s { /* small; narrower image containers */
	width:24%;
}
.h {
	clear:both;
}
.h img {
	width:calc(50% + .5em);
	vertical-align:top;
	display:inline-block;
}
.h img:first-child {
	margin-right:.5em;
}
.h img:not(:first-child):after { /* clearfix */
	content:"";
	display:block;
	clear:both;
}
.i div:last-child { /* div for image source*/
	margin-top:.8em;
	font-style:normal;
	font-size:80%;
	line-height:110%;
}
.i .c { /* clearfix */
}
img,.a>div:first-child { /* actual image */
	margin:-1em -1em .6em;
	width:calc(100% + 2.06em);
	background:#fff;
}
.a>div:first-child { /* hover-alternative image containers */
	height:450px;
}
.a>div:first-child:hover { /* move big sprite background for hover-alternatives */
	background-position:0 100%;
}
li li { /* list items... */
	margin-top:.4em;
}
.f,.n {/* f.a.e.s and notes */
	margin:.5em -2em;
	padding:.8em 2em;
}
.f { /* file attachment elements */
	background:#7accb2;
	text-shadow:0 1px 0 #69af98;
	box-shadow:0 0 0 1px #69af98;
}
.f:before { /* text to title file attachment elements */
	content:"File attachments:";
	margin-right:1em;
	color:#fff;
	font-weight:bold;
}
.f a { /* links in file attachment elements */
	color:#fff;
	text-decoration:none;
	font-style:italic;
}
.f a:hover { /* ditto, when hovered over */
	color:rgba(255,255,255,0.86);
	text-shadow:0 1px 2px #69af98;
}
.f a:not(:last-child):after { /* little dots after all but last f.a.e. link */
	content:"";
	display:inline-block;
	margin:.2em 2em;
	width:4px;
	height:4px;
	background:#fff;
	box-shadow:0 1px 1px 0 #69af98;
	border-radius:2px;
}
.n { /* notes */
	background:#eee;
	box-shadow:0 0 0 1px #ddd;
	font-style:italic;
}
.n:before { /* just so we know it's a note, k? */
	content:"Note: ";
	font-weight:bold;
}
a:not(.ref):after { /* add external link svg thingy */
	content:"";
	display:inline-block;
	margin:0 2px 0 0;
	width:12px;
	height:10px;
	background:url(/btec/i/el.svg);
}